<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discography</title>
</head>
<body>
    <ul>

 <li>I Brought You My Bullets, You Brought Me Your Love (2001–2002)
</li>
 <li>Three Cheers for Sweet Revenge (2003–2006)</li>
 <li>The Black Parade(2006–2009) </li>
 <li>Danger Days: The True Lives of the Fabulous Killjoys (2009–2011) </li>
 <li>Conventional Weapons and break-up (2011–2013) </li>
<li>May Death Never Stop You and post-breakup (2013–2019)</li>
<li>Reunion and new material (2019–present)</li>
    
    </ul>
    
</body>
</html>